In [17]:
import pandas as pd
import numpy as np
tempC=np.arange(0,110,10)
tempF=(tempC*1.8)+32
tempDF=pd.DataFrame({'(っ◔◡◔)っ ♥ tempurature ♥ 匚  🐤💜':tempC, "∙∙·▫▫ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ ⓉẸＭ𝐏𝐄𝔯ᵃ𝓉υℝє, ғ ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ▫▫·∙∙":tempF})
tempDF

,(っ◔◡◔)っ ♥ tempurature ♥ 匚 🐤💜,"∙∙·▫▫ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ ⓉẸＭ𝐏𝐄𝔯ᵃ𝓉υℝє, ғ ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ▫ₒₒ▫ᵒᴼᵒ▫▫·∙∙"
0,0,32.0
1,10,50.0
2,20,68.0
3,30,86.0
4,40,104.0
5,50,122.0
6,60,140.0
7,70,158.0
8,80,176.0
9,90,194.0
10,100,212.0

In [23]:
import sqlite3
import matplotlib.pyplot as plt
dataDF=pd.ExcelFile('Volve production data.xlsx')
df1=dataDF.parse('Daily Production Data')
#conn=sqlite3.connect("VolveProduction.db")
cur=conn.cursor()