In [17]:
import pandas as pd
import numpy as np
tempC=np.arange(0,110,10)
tempF=(tempC*1.8)+32
tempDF=pd.DataFrame({'(ã£â—”â—¡â—”)ã£ â™¥ tempurature â™¥ åŒš  ğŸ¤ğŸ’œ':tempC, "âˆ™âˆ™Â·â–«â–«áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’ â“‰áº¸ï¼­ğğ„ğ”¯áµƒğ“‰Ï…â„Ñ”, Ò“ áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’â–«â–«Â·âˆ™âˆ™":tempF})
tempDF

,(ã£â—”â—¡â—”)ã£ â™¥ tempurature â™¥ åŒš ğŸ¤ğŸ’œ,"âˆ™âˆ™Â·â–«â–«áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’ â“‰áº¸ï¼­ğğ„ğ”¯áµƒğ“‰Ï…â„Ñ”, Ò“ áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’â–«â‚’â‚’â–«áµ’á´¼áµ’â–«â–«Â·âˆ™âˆ™"
0,0,32.0
1,10,50.0
2,20,68.0
3,30,86.0
4,40,104.0
5,50,122.0
6,60,140.0
7,70,158.0
8,80,176.0
9,90,194.0
10,100,212.0

In [23]:
import sqlite3
import matplotlib.pyplot as plt
dataDF=pd.ExcelFile('Volve production data.xlsx')
df1=dataDF.parse('Daily Production Data')
#conn=sqlite3.connect("VolveProduction.db")
cur=conn.cursor()